<div class="side-nav">
    <div class="side-nav-inner">
        <ul class="side-nav-menu scrollable">
            <li class="nav-item dropdown open " data-key="Dashboard">
                <a class="dropdown-toggle" asp-controller="Home" asp-action="index">
                    <span class="icon-holder">
                        <i class="anticon anticon-dashboard"></i>
                    </span>
                    <span class="title">Dashboard</span>
                    
                </a>

            </li>
            <li class="nav-item dropdown">
                <a class="dropdown-toggle" href="javascript:void(0);">
                    <span class="icon-holder">
                        <i class="anticon anticon-appstore"></i>
                    </span>
                    <span class="title">Quản lý chi phí</span>
                    <span class="arrow">
                        <i class="arrow-icon"></i>
                    </span>
                </a>
                <ul class="dropdown-menu">
                    <li data-key="Costs">
                        <a asp-controller="Costs" asp-action="index">Chi phí</a>
                    </li>
                    <li data-key="CostCategories">
                        <a asp-controller="CostCategories" asp-action="index">Loại chi phí</a>
                    </li>
                   

                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="dropdown-toggle" href="javascript:void(0);">
                    <span class="icon-holder">
                        <i class="anticon anticon-build"></i>
                    </span>
                    <span class="title">Quản lý sản phẩm</span>
                    <span class="arrow">
                        <i class="arrow-icon"></i>
                    </span>
                </a>
                <ul class="dropdown-menu">
                    <li data-key="Products">
                        <a asp-controller="Products" asp-action="Index">Hoa quả</a>
                    </li>
                   
                    <li data-key="Seedlings">
                        <a asp-controller="Seedlings" asp-action="Index">Cây giống</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item dropdown" data-key="Dashboard">
                <a class="dropdown-toggle" asp-controller="Equipments" asp-action="Index">
                    <span class="icon-holder">
                        <i class="anticon anticon-hdd"></i>
                    </span>
                    <span class="title">Quản lý thiết bị</span>
                   
                </a>
              
            </li>
            <li class="nav-item dropdown">
                <a class="dropdown-toggle" href="javascript:void(0);">
                    <span class="icon-holder">
                        <i class="anticon anticon-form"></i>
                    </span>
                    <span class="title">Quản lý công việc</span>
                    <span class="arrow">
                        <i class="arrow-icon"></i>
                    </span>
                </a>
                <ul class="dropdown-menu">
                    <li data-key="Timekeepings">
                        <a asp-controller="Timekeepings" asp-action="Index">Chấm công</a>
                    </li>
                    <li data-key="Tasks">
                        <a asp-controller="Tasks" asp-action="Index">Danh sách công việc</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="dropdown-toggle" href="javascript:void(0);">
                    <span class="icon-holder">
                        <i class="anticon anticon-table"></i>
                    </span>
                    <span class="title">Quản lý kho</span>
                    <span class="arrow">
                        <i class="arrow-icon"></i>
                    </span>
                </a>
                <ul class="dropdown-menu">
                    <li data-key="Warehouses">
                        <a asp-controller="Warehouses" asp-action="index">Nhà kho</a>
                    </li>
                    <li data-key="WarehouseProducts">
                        <a asp-controller="WarehouseProducts" asp-action="index">Kho hàng</a>
                    </li>
                    <li data-key="Fertilizers">
                        <a asp-controller="Fertilizers" asp-action="index">Phân bón</a>
                    </li>
                </ul>
            </li>

            <li class="nav-item dropdown" data-key="Dashboard">
                <a asp-controller="Diaries" asp-action="Index" class="dropdown-toggle" >
                    <span class="icon-holder">
                        <i class="anticon anticon-pie-chart"></i>
                    </span>
                    <span class="title">Nhật ký farm</span>
                   
                </a>
                
            </li>
            <li class="nav-item dropdown">
                <a class="dropdown-toggle" href="javascript:void(0);">
                    <span class="icon-holder">
                        <i class="anticon anticon-file"></i>
                    </span>
                    <span class="title">Thông tin farm</span>
                    <span class="arrow">
                        <i class="arrow-icon"></i>
                    </span>
                </a>
                <ul class="dropdown-menu">
                    <li data-key="Farms">
                        <a asp-controller="Farms" asp-action="index">Danh sách farm</a>
                    </li>

                    <li data-key="Employees">
                        <a asp-controller="Employees" asp-action="index">Danh sách nhân viên</a>
                    </li>

                    <li data-key="Fields">
                        <a asp-controller="Fields" asp-action="index">Danh sách nhà kính</a>
                    </li>

                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="dropdown-toggle" href="javascript:void(0);">
                    <span class="icon-holder">
                        <i class="anticon anticon-lock"></i>
                    </span>
                    <span class="title">Quản lý hệ thống</span>
                    <span class="arrow">
                        <i class="arrow-icon"></i>
                    </span>
                </a>
                <ul class="dropdown-menu">
                    <li data-key="Users">
                        <a asp-controller="Users" asp-action="Index">Quản lý tài khoản</a>
                    </li>
                    <li data-key="Roles">
                        <a asp-controller="Roles" asp-action="Index">Quản lý quyền truy cập</a>
                    </li>
                </ul>
            </li>
        </ul>
        
       
       
    </div>
</div>

<script>
    var dropdownItems = document.querySelectorAll('.dropdown-menu li');
    var navItems = document.querySelectorAll('.side-nav-menu .nav-item.dropdown');


    // Kiểm tra trạng thái đã lưu trong sessionStorage cho dropdown-items
    dropdownItems.forEach(function (item) {
        var isActive = sessionStorage.getItem(item.getAttribute('data-key'));
        if (isActive === 'true') {
            item.classList.add('active');
        }
    });

    

    // Thêm sự kiện click cho mỗi dropdown-item
    dropdownItems.forEach(function (item) {
        item.addEventListener('click', function () {
            // Lưu trạng thái vào sessionStorage
            var isActive = item.classList.contains('active');

            // Xóa trạng thái lưu trữ của tất cả các phần tử li khác
            dropdownItems.forEach(function (dropdownItem) {
                if (dropdownItem !== item) {
                    sessionStorage.removeItem(dropdownItem.getAttribute('data-key'));
                    dropdownItem.classList.remove('active');
                }
            });

            // Thêm hoặc xóa trạng thái lưu trữ và class "active" cho phần tử li hiện tại
            if (!isActive) {
                sessionStorage.setItem(item.getAttribute('data-key'), 'true');
                item.classList.add('active');
            } else {
                sessionStorage.removeItem(item.getAttribute('data-key'));
                item.classList.remove('active');
            }
        });
    });


</script>