@model BudHillFMS.Models.Role

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-body">
        <h4 class="card-title">Xóa quyền truy cập</h4>
        <div class="table-responsive">
            <table class="product-info-table m-t-20">
                <tbody>
                    <tr>
                        <td>ID:</td>
                        <td class="text-dark font-weight-semibold">@Model.RoleId</td>
                    </tr>
                    <tr>
                        <td>Quyền truy cập:</td>
                        <td>	@Model.RoleName</td>
                    </tr>
                    <tr>
                        <td>Mô tả:</td>
                        <td>@Model.RoleDescription</td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>

<form asp-action="Delete" asp-route-id="@Model.RoleId">
    <input type="hidden" asp-for="RoleId" />
    <input type="submit" value="Xóa" class="btn btn-danger" /> |
    <a class="btn btn-primary m-r-5" asp-action="Index">Trở về</a>
</form>
