@model BudHillFMS.Models.Timekeeping

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Chấm công</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="EmployeeId" class="control-label">Nhân viên</label>
                <select asp-for="EmployeeId" class ="form-control" asp-items="ViewBag.EmployeeId" ></select>
            </div>
            <div class="form-group">
                <label asp-for="CheckIn" class="control-label">Checkin</label>
                <input asp-for="CheckIn" class="form-control" />
                <span asp-validation-for="CheckIn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CheckOut" class="control-label">Checkout</label>
                <input asp-for="CheckOut" class="form-control" />
                <span asp-validation-for="CheckOut" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TimekeepingDate" class="control-label">Ngày</label>
                <input asp-for="TimekeepingDate" class="form-control" />
                <span asp-validation-for="TimekeepingDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-tone btn-primary">Chấm công</button> |
                <a class="btn btn-tone btn-primary m-r-5" asp-action="Index">Trở về</a>
            </div>
        </form>
    </div>
</div>

