@model BudHillFMS.Models.Diary

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="mail-compose" class="mail-content">
    <div class="p-b-15 m-r-15 d-md-none d-inline-block">
        <a class="text-dark font-size-18 mail-open-nav" href="javascript:void(0);">
            <i class="anticon anticon-menu-unfold"></i>
        </a>
    </div>
    <h5 class="m-b-20">Viết nhật ký</h5>
    <form asp-action="Create">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="DiarySubject" class="control-label">Chủ đề</label>
            <input asp-for="DiarySubject" type="text" class="form-control" placeholder="Chủ đề">
        </div>
        <div class="form-group">
            <label asp-for="EntryDate" class="control-label">Thời gian</label>
            <input asp-for="EntryDate" class="form-control" />
            <span asp-validation-for="EntryDate" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="FieldId" class="control-label">Nhà kính</label>
            <select asp-for="FieldId" class="form-control" asp-items="ViewBag.FieldId"></select>
        </div>
        <div class="form-group">
            <label asp-for="ProductId" class="control-label">Sản phẩm</label>
            <select asp-for="ProductId" class="form-control" asp-items="ViewBag.ProductId"></select>
        </div>
        <div class="form-group">
            <label asp-for="DiaryCategory" class="control-label">Phân loại</label>
            <input asp-for="DiaryCategory" type="text" class="form-control" placeholder="Phân loại">
        </div>
      
        <div id="editor"></div>
        <input type="hidden" id="Description" name="Description" asp-for="Description" />
       
        <br />
        <div class="form-group">
            <input type="submit" value="Lưu" class="btn btn-primary" /> |
            <a class="btn btn-primary m-r-5" asp-action="Index">Trở về</a>
        </div>
    </form>
</div>

@section Scripts{
    <script>

        var hiddenInput = document.getElementById('Description');
        var quill = new Quill('#editor', {
            theme: 'snow',
            placeholder: 'Mô tả',
        });

        // Đồng bộ dữ liệu từ trình soạn thảo Quill vào hidden input khi có sự thay đổi
        quill.on('text-change', function () {
            var text = quill.getText().trim(); // Lấy nội dung văn bản không có các thẻ HTML
            hiddenInput.value = text;
        });

        // Đồng bộ dữ liệu từ hidden input vào trình soạn thảo Quill
        quill.root.innerHTML = hiddenInput.value;

    </script>

    
}
