@model BudHillFMS.Models.Warehouse

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Thêm nhà kho</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="WarehouseName" class="control-label">Nhà kho</label>
                <input asp-for="WarehouseName" class="form-control" />
                <span asp-validation-for="WarehouseName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WarehouseLocation" class="control-label">Địa chỉ</label>
                <input asp-for="WarehouseLocation" class="form-control" />
                <span asp-validation-for="WarehouseLocation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FarmId" class="control-label">Trang trại</label>
                <select asp-for="FarmId" class ="form-control" asp-items="ViewBag.FarmId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Thêm nhà kho mới" class="btn btn-primary" /> |
                <a class="btn btn-tone btn-primary m-r-5" asp-action="Index">Trở về</a>
            </div>
        </form>
    </div>
</div>


