@model BudHillFMS.Models.Cost

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Chỉnh sửa chi phí</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CostId" />

            <div class="form-group">
                <label asp-for="CostName" class="control-label">Chi phí</label>
                <input asp-for="CostName" class="form-control" />
                <span asp-validation-for="CostName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CostDescription" class="control-label">Mô tả</label>
                <input asp-for="CostDescription" class="form-control" />
                <span asp-validation-for="CostDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CostAmount" class="control-label">Tổng tiền</label>
                <input asp-for="CostAmount" class="form-control" />
                <span asp-validation-for="CostAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FarmId" class="control-label">Trang trại</label>
                <select asp-for="FarmId" class="form-control" asp-items="ViewBag.FarmId"></select>
                <span asp-validation-for="FarmId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoryId" class="control-label">Loại chi phí</label>
                <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.CategoryId"></select>
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label asp-for="CostDate" class="control-label">Ngày ghi chi phí</label>
                <input asp-for="CostDate" class="form-control" />
                <span asp-validation-for="Coststatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Coststatus" class="control-label">Tình trạng</label>
                <select asp-for="Coststatus" class="form-control">
                    <option value="true">Đã thanh toán</option>
                    <option value="false">Chưa thanh toán</option>
                </select>
                <span asp-validation-for="CostDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button type="submit" class="btn  btn-primary">Lưu</button> |
                <a class="btn btn-tone btn-primary m-r-5" asp-action="Index">Trở về</a>
            </div>
        </form>
    </div>
</div>

