@model BudHillFMS.Models.Fertilizer

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Fertilizer</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="FertilizerId" />
            <div class="form-group">
                <label asp-for="FertilizerName" class="control-label"></label>
                <input asp-for="FertilizerName" class="form-control" />
                <span asp-validation-for="FertilizerName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FertilizerType" class="control-label"></label>
                <input asp-for="FertilizerType" class="form-control" />
                <span asp-validation-for="FertilizerType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FertilizerQuantity" class="control-label"></label>
                <input asp-for="FertilizerQuantity" class="form-control" />
                <span asp-validation-for="FertilizerQuantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WarehouseId" class="control-label"></label>
                <select asp-for="WarehouseId" class="form-control" asp-items="ViewBag.WarehouseId"></select>
                <span asp-validation-for="WarehouseId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QuantityUsed" class="control-label"></label>
                <input asp-for="QuantityUsed" class="form-control" />
                <span asp-validation-for="QuantityUsed" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FertilizerImport" class="control-label"></label>
                <input asp-for="FertilizerImport" class="form-control" />
                <span asp-validation-for="FertilizerImport" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

